.rot{
    display: flex;
    justify-content: center;  
}
.login-container{
    display: block;
    background-color: rgb(200, 195, 195);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px 50px;
    height: auto;
    margin-top: 15%;
    border-radius: 5%;
}
.login-container h1{
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
}
.login-div input{
    display: block;
    padding: 10px 50px;
    margin: 10px 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}
.login-div label{
    font-size: 1.5rem;
    margin-top: 5px 10px;
}

.login-div button{
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 71%;
    background-color: rgb(125, 158, 184);
    color: rgb(0, 0, 0);
}

.login-div .message{
    font-size: 1.3rem;
}