.container{
    position: relative;
}

.container-div{
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 40px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container-div h1{
    font-size: 2.5rem;
    
}
.container-div ul{
    display: flex;
    align-items: center;
    position: absolute;
    right: 6%;
    bottom: 41%;
    list-style-type: none;
}
.container-div li{
    font-size: 1.5rem;
    margin-right: 20px;
    color: aliceblue;
    text-decoration: none;
}

.container-div li:hover{
    color: rgb(130, 130, 173);
}